

client/ifox/Resources/action/
client/ifox/Resources/sound/
client/ifox/Resources/creature/
client/ifox/Resources/effect/
client/ifox/Resources/head/
client/ifox/Resources/map/

client/sc.xcodeproj/project.xcworkspace/xcuserdata/fox.xcuserdatad/UserInterfaceState.xcuserstate

client/sc.xcodeproj/xcuserdata/fox.xcuserdatad/xcschemes/sc.xcscheme

client/sc.xcodeproj/xcuserdata/fox.xcuserdatad/xcschemes/xcschememanagement.plist

client/sc.xcodeproj/xcuserdata/fox.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
